/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html{
  width: 100%;
}

body{
  margin: 0;
  height: 100%;
}

.wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  
  
}

.box{
  display: inline-block;
  position: relative;
  width: 600px;
  height: 600px;
  background-color: #f5f5f5;
  border: 2px solid black;
  margin: 25px 0;
}

.box div {
  margin: 45px auto 0;
  width: 500px;
  height: 500px;
}

.box:nth-child(1) div{
  position: absolute;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 300px;
  width: 500px;
  height: 500px;
  background-image: -o-radial-gradient(circle, transparent 50%, coral 50%);
  background-image: radial-gradient(circle, transparent 50%, coral 50%);
  background-size: 50px 50px;
  background-position: 50px 50px;
}

.box:nth-child(2) div{
  background-color: #def;
  background-image: -o-radial-gradient(closest-side, transparent 98%, rgba(0, 0, 0, 0.3) 99%), -o-radial-gradient(closest-side, transparent 98%, rgba(0, 0, 0, 0.3) 99%);
  background-image: radial-gradient(closest-side, transparent 98%, rgba(0, 0, 0, 0.3) 99%), radial-gradient(closest-side, transparent 98%, rgba(0, 0, 0, 0.3) 99%);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}

.box:nth-child(3) div{
  background-image:
  -o-repeating-radial-gradient( #ffc800, white, #fffb00);
  background-image:
  repeating-radial-gradient( #ffc800, white, #fffb00);
}

.box:nth-child(4) div{
  background-image: conic-gradient(
  red,
  orange,
  yellow,
  green,
  blue,
  purple,
  red
  );
  border-radius: 50%;
}


.box:nth-child(4) div::after{
  position: absolute;
  top: 125px;
  left: 125px;
  content: "";
  width: 350px;
  height: 350px;
  background-color: #f5f5f5;
  border-radius: 50%;
}

.box:nth-child(5) div{
  background-image: conic-gradient(
  coral 30deg,
  palegreen 30deg 150deg,
  skyblue 150deg
  );
  border-radius: 50%;
}

.box:nth-child(6) div{
  background-image: conic-gradient(
  from -0.125turn,
  #bbb 0.25turn,
  #999 0.25turn 0.5turn,
  #bbb 0.5turn 0.75turn,
  #eee 0.75turn
  );
}

.box:nth-child(7) div{
  background-image: conic-gradient(
  #5b2e00 25%,
  #fff 25% 50%,
  #5b2e00 50% 75%,
  #fff 75%
  );
  background-size: 25% 25%;
  border: 1px solid black;
}

.box:nth-child(8) div {
  background:
  -o-radial-gradient(
  yellow 5%,
  gold 31% 32%,
  transparent 32.5% 50%,
  lightskyblue 70%
  ),
  conic-gradient(
  transparent 3%,
  yellow 5% 8%,
  transparent 10% 13%,
  yellow 15% 17%,
  transparent 20% 23%,
  yellow 25% 28%,
  transparent 30% 33%,
  yellow 35% 38%,
  transparent 40% 43%,
  yellow 45% 48%,
  transparent 50% 53%,
  yellow 55% 58%,
  transparent 60% 63%,
  yellow 65% 68%,
  transparent 70% 73%,
  yellow 75% 78%,
  transparent 80% 83%,
  yellow 85% 88%,
  transparent 90% 93%,
  yellow 95% 98%,
  transparent
  );
  background:
  radial-gradient(
  yellow 5%,
  gold 31% 32%,
  transparent 32.5% 50%,
  lightskyblue 70%
  ),
  conic-gradient(
  transparent 3%,
  yellow 5% 8%,
  transparent 10% 13%,
  yellow 15% 17%,
  transparent 20% 23%,
  yellow 25% 28%,
  transparent 30% 33%,
  yellow 35% 38%,
  transparent 40% 43%,
  yellow 45% 48%,
  transparent 50% 53%,
  yellow 55% 58%,
  transparent 60% 63%,
  yellow 65% 68%,
  transparent 70% 73%,
  yellow 75% 78%,
  transparent 80% 83%,
  yellow 85% 88%,
  transparent 90% 93%,
  yellow 95% 98%,
  transparent
  );
}

.box:nth-child(9) div {
  background-image:
  repeating-conic-gradient(
  from 0deg,
  #9d6eea 0deg 15deg,
  #6600e9 15deg 30deg,
  #b394e9 30deg 45deg
  );
}

.box:nth-child(10) div {
  background-image:
    repeating-conic-gradient(
      from 0deg,
      #A100FFFF 0 30deg,
      #71C4FFFF 30deg 60deg
    );
}


.box:last-child{
  width: 1280px;
  height: 260px;
  background-size: 260px 260px;
  background-image:
    repeating-conic-gradient(
      from 45deg,
      #000 0% 25%,
      #eee 0% 50%
    );

}